.catalogue-sidenav {
    margin-top: 64px;
    padding-bottom: 50px;
    .sidenav-container {
      position: relative;
      min-width: 500px;
      max-width: 500px;
      max-height: 150px;
      .image-space {
        height: 40px;
      }
      .sidenav-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 75px;
        width: calc(100% - 40px);
        background-color: rgba(35, 44, 101, 0.5);
        padding: 0px 20px;
        .description-icon {
          vertical-align: middle;
        }
        .description-text {
          vertical-align: middle;
        }
      }
      .close-panel-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #3a9cd6;
      }
    }
    .filters-tab {
      height: calc(100% - 150px);
      .result-count-info {
        font-size: 11px;
        position: absolute;
        top: 8px;
        left: 51%;
        background-color: #40C4FF;
        padding: 2px 3px;
        border-radius: 100%;
      }
    }
}
.package-manager-sidenav {
    margin-top: 64px;
    padding-bottom: 50px;
    min-width: 500px;
    max-width: 500px;
}
.catalogue-window {
    app-map {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }
    .external {
      display: inline-flex;
      .div-left-buttons {
        .catalogue-buttons {
          margin-top: 104px;
          padding-left: 20px;
          list-style: none;
          li {
            margin-bottom: 10px;
            button {
              background-color: #3a9cd6;
            }
          }
        }
      }
      .div-right-buttons {
        .map-ul {
          position: absolute; 
          top: 210px; 
          right: 45px;
          list-style: none;
          li {
            padding: 5px 0;
            mat-icon {
              background:  rgba(245,245,245,.8);
              color: black;
              font-size: 40px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              /* &:hover {
                background:  rgba(0,0,0,.65);
                color: white;
              } */
            }
            .save {
              background:  rgba(245,245,245,.8);
              color: black;
              width: 40px;
              height: 40px;
              line-height: 40px;
              border-radius: 50%;
              font-size: 30px;
              text-align: center !important;
              &:hover {
                background:  rgba(245,245,245,.65);
                color: white;
              }
            }
          }
        }
      }
    }

}