<mat-sidenav-container class="catalogue-container">
    <!-- Sidenav container for the search browser manager -->
    <!-- TODO: Extract the code below the sidenav to its own component -->
    <mat-sidenav #cataloguesidenav mode="over" position="start" opened="false" class="catalogue-sidenav">
        <div class="sidenav-container">
            <img src="../../../assets/img/catalogue.png" alt="Sentinel 1 image">
            <div class="image-space"></div>
            <!-- <div class="sidenav-description">
                <h1 class="mat-headline">
                    <mat-icon class="description-icon">search</mat-icon> <span class="description-text">Catalogue Search</span>
                </h1>
            </div> -->
            <button class="close-panel-button" mat-mini-fab (click)="cataloguesidenav.close()"> <!-- [color]="'accent'" -->
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>
        <mat-tab-group #cataloguetabs class="filters-tab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-label>WAVYs</mat-label>
                    <!-- <mat-icon>search</mat-icon> -->
                </ng-template>
                <ng-template matTabContent>
                    <app-catalogue-search></app-catalogue-search>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-label>Overlays</mat-label>
                    <!-- <mat-icon [color]="searchResults === undefined ? '' : 'primary'">
                        list
                    </mat-icon>
                <span class="result-count-info" *ngIf="searchResults !== undefined">
                    {{searchResults > 99 ? '99+' : searchResults}}
                </span> -->
                </ng-template>
                <ng-template matTabContent>                
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
  <!-- Sidenav container for the data package manager -->
    <!-- <mat-sidenav #datapackagesidenav  mode="over" position="end" opened="false" class="package-manager-sidenav">
        <gp-data-package-manager [sidenavRef]="datapackagesidenav" *ngIf="isUserAuthenticated"></gp-data-package-manager>
    </mat-sidenav> -->

  <!-- Main catalogue map window -->
<div class="catalogue-window">
    <app-map [basemap]="valueBasemap"></app-map>

    <div class="external">
    <div class="div-left-buttons">
        <ul class="catalogue-buttons">
            <li>
                <button mat-fab (click)="cataloguesidenav.toggle()" matTooltip="Browse our catalogue" [matTooltipPosition]="'right'">
                    <mat-icon [@rotateIcon]="cataloguesidenav.opened ? 'open' : 'closed'">
                        {{ cataloguesidenav.opened ? 'close' : 'search' }}</mat-icon>
                </button>
            </li>
            <li>
                <button mat-fab (click)="onClickSatellite()" matTooltip="Satellite basemap" [matTooltipPosition]="'right'">
                    <mat-icon>satellite</mat-icon>
                </button>
            </li>
            <li>
                <button mat-fab (click)="onClickBathymetry()" matTooltip="Bathymetry basemap" [matTooltipPosition]="'right'">
                    <mat-icon>map</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <div class="div-right-buttons">
        <ul class="map-ul">
            <!-- <li>
                <mat-icon matTooltip="Zoom in" [matTooltipPosition]="'right'">add_circle_outline</mat-icon>
            </li>
            <li>
                <mat-icon matTooltip="Zoom out" [matTooltipPosition]="'right'">remove_circle_outline</mat-icon>
            </li> -->
            <li>
                <mat-icon class="save" mat-fab matTooltip="Save image" [matTooltipPosition]="'right'">save</mat-icon>
            </li>
        </ul>
    </div>
    </div>
    
    <!-- <button mat-fab *ngIf="isUserAuthenticated" (click)="datapackagesidenav.toggle()" matTooltip="Manage your data packages" [matTooltipPosition]="'left'" class="data-package-toggle">
        <mat-icon style="color:white" svgIcon="package"></mat-icon>
    </button> -->
    <!-- <gp-grid-generator [isUserAuthenticated]="isUserAuthenticated" [currentUser]="currentUser"></gp-grid-generator> -->
    
</div>

</mat-sidenav-container>
<app-footer></app-footer>

