.catalogue-sidenav {
    margin-top: 84px;
    //padding-bottom: 50px;
    overflow-x: hidden;
    .sidenav-container {
      position: relative;
      min-width: 500px;
      max-width: 500px;
      max-height: 150px;
      .image-space {
        height: 40px;
      }
      .close-panel-button {
        position: absolute;
        top: 30px;
        right: 20px;
        background-color: #3a9cd6;
      }
    }
    .filters-tab { 
      height: calc(100% - 150px);
      .mat-tab-label {
        font-family: Arial;
        font-size: large;
        font-size: 17px;
        font-weight: 400;
        font-weight: bold;
        color:#232c65;
      }
      .mat-tab-label.mat-tab-label-active {
        color: #d9232e !important;
      }
    }
}
.package-manager-sidenav {
    margin-top: 84px;
    padding-bottom: 50px;
    min-width: 500px;
    max-width: 500px;
}
.catalogue-window {
    app-map {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
    }
    .external {
      display: inline-flex;
      .div-left-buttons {
        .catalogue-buttons {
          margin-top: 124px;
          padding-left: 20px;
          list-style: none;
          li {
            margin-bottom: 10px;
            button {
              background-color: #3a9cd6;
            }
          }
        }
      }
      .div-right-buttons {
          position: absolute; 
          bottom: 40px; 
          right: 45px;
      }
    }

}