<mat-sidenav-container class="catalogue-container">
    <!-- Sidenav container for the search browser manager -->
    <mat-sidenav #cataloguesidenav mode="over" position="start" opened="false" class="catalogue-sidenav">
        <div class="sidenav-container">
            <img src="../../../assets/img/catalogue.png">
            <div class="image-space"></div>
            <!-- <div class="sidenav-description">
                <h1 class="mat-headline">
                    <mat-icon class="description-icon">search</mat-icon> <span class="description-text">Catalogue Search</span>
                </h1>
            </div> -->
            <button class="close-panel-button" mat-mini-fab (click)="cataloguesidenav.close()"> <!-- [color]="'accent'" -->
                <mat-icon>chevron_left</mat-icon>
            </button>
        </div>
        <mat-tab-group #cataloguetabs class="filters-tab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-label>WAVYs</mat-label>
                </ng-template>
                <ng-template matTabContent>
                    <app-catalogue-search></app-catalogue-search> <!-- [mapa]="objectMap" -->
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-label>Overlays</mat-label>
                    <!-- <mat-icon [color]="searchResults === undefined ? '' : 'primary'">
                        list
                    </mat-icon>
                <span class="result-count-info" *ngIf="searchResults !== undefined">
                    {{searchResults > 99 ? '99+' : searchResults}}
                </span> -->
                </ng-template>
                <ng-template matTabContent>
                    <app-overlays [mapa]="objectMap"></app-overlays>           
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>

  <!-- Main catalogue map window -->
<div class="catalogue-window">
    <app-map #mapCatalogue [basemap]="valueBaseMap"></app-map>

    <div class="external">
    <div class="div-left-buttons">
        <ul class="catalogue-buttons">
            <li>
                <button mat-fab (click)="cataloguesidenav.toggle()" title="Browse our catalogue">
                    <mat-icon [@rotateIcon]="cataloguesidenav.opened ? 'open' : 'closed'">
                        {{ cataloguesidenav.opened ? 'close' : 'search' }}</mat-icon>
                </button>
            </li>
            <li>
                <button mat-fab (click)="onClickChangeBaseMap()" title="{{toolTipBaseMap}} basemap">
                    <mat-icon>{{iconBaseMap}}</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <!-- <div class="div-right-buttons">
        <ul class="map-ul">
            <li (click)="onSaveMap()">
                <mat-icon class="save" mat-fab title="Save image">save</mat-icon>
            </li>
        </ul>
    </div> -->
    </div>
</div>

</mat-sidenav-container>
<!-- <app-footer></app-footer> -->

