mat-toolbar {
    position: fixed;
    top: 0px;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0,0,0,.50);
    display: inline-flex;
    align-items: end;
}
.logo-wrapper {
    text-align: center;
    margin-bottom: 0px;
    img {
        width: 80%;
        margin-top: 7px;
    }
}
.logo-eu-div {
    width: 150px;
    // display: inline-block;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-eu {
    padding-top: 30px;
    width: 35%;
    margin-top: 10px;
}
.info-eu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45%;
    color: #232c65;
    display: block;
    margin: 0px !important;
    padding: 0px !important;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}