<mat-toolbar>
    <div class="logo-wrapper">
        <img src="../assets/img/meloa-logo.png" alt="Meloa Logo">
    </div>
    <div class="logo-eu-div" title="This portal is part of a project that has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 687289.">
      <img class="img-eu" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/255px-Flag_of_Europe.svg.png">
      <span class="info-eu">EU Horizon 2020</span>
    </div>

</mat-toolbar>
