mat-toolbar {
    position: fixed;
    top: 0px;
    z-index: 2;
}
.logo-wrapper {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    img {
        width: 70%;
    }
}
hr.beauty-divider {
    margin-bottom: 20px;
}
.nav-spacer {
    flex: 1 1 auto;
}
.navbar-button {
    margin: 0 10px;
    mat-icon {
        margin-right: 5px;
    }
}