<br>
<div class="item-error" *ngIf="errorMessage">
    <mat-error class="my-error-style">{{errorMessage}} !!!</mat-error>
    <br>
</div>

<div class="primer-div">
    <mat-form-field appearance="fill" class="catalogue-search-select">
        <mat-label>Campains</mat-label>
        <mat-select 
            [(value)]="selectedCampain" 
            (change)="onChangeCampains($event)"
            name="Campains">
            <mat-option *ngFor="let camp of campains" [value]="camp">{{ camp | uppercase}}</mat-option>
        </mat-select> 
    </mat-form-field>
    <div class="label-style">
        <a mat-list-item (click)="onDrawRectangleClicked()"> &nbsp;&nbsp; Draw a box on the map
            <mat-icon class="filter-icon" svgIcon="rectangle-draw"></mat-icon>
        </a>
    </div>
</div>

<div>
    <form novalidate>
        <!-- <app-datepicker [myValue]="startDate" [maxDate]="endDate" (inputEvent)="startDate=$event"></app-datepicker> -->
        <mat-form-field class="datepicker-start" appearance="fill" color="primary">
            <mat-label>Start date</mat-label>
            <input matInput name="start" [value]="startDate" [matDatepicker]="startPicker" [max]="endDate">
            <mat-error>
                Must be a valid date lower than end date.
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="datepicker-end" appearance="fill" color="primary">
            <mat-label>End date</mat-label>
            <input matInput name="end" [value]="endDate" [matDatepicker]="endPicker" [min]="startDate">
            <mat-error>
                Value must be a valid date higher than start date.
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </form>
    <div>
        <button mat-raised-button class="catalogue-search-buttoms" (click)="onSearchClick()">Search</button>
        <button mat-raised-button class="catalogue-search-buttoms" (click)="onSearchClear()">Clear</button>
    </div>
</div>

<div>
    <br>
        <mat-divider class="mat-divisor-search"></mat-divider>
    <br>
</div>

<app-catalogue-results></app-catalogue-results>
