.primer-div {
    display: inline-flex;
}
.label-style {
    padding-top: 20px;
    padding-left: 30px;
    color: #acadb5;
    font-size: inherit;
    font-weight: 400;
}
.select-width {
    width: 40% !important;
    padding-left: 15px;
}
.mat-option {
    background-color: rgba(7, 10, 34, 0.7);
}
.input-width {
    width: 40% !important;
    padding-left: 15px;
}
.filter-icon {
    color: white;
    height: 16px;
    width: 16px;
    line-height: 24px;
    margin-right: 10px;
}
.my-buttom-style {
    background-color: #3a9cd6;
}