<span class="head-dialog">Add overlay</span><br>
<div>
  <br>
  <mat-divider class="mat-divisor-overlay"></mat-divider>
  <br>
</div>
<div class="add-overlays-div dialog-font">
    <mat-form-field appearance="fill">
      <mat-label class="dialog-font">Enter a name to Overlay</mat-label>
      <input matInput type="text" #name [(ngModel)]="nameOverlay">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="dialog-font">Enter a description to Overlay</mat-label>
      <textarea matInput #description [(ngModel)]="descriptionOverlay"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="dialog-font">URL of Web Map Service</mat-label>
      <input matInput type="url" #inputURL [(ngModel)]="urlWMS">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label class="dialog-font">Layer of Web Map Service</mat-label>
        <input matInput type="text" #inputLayer [(ngModel)]="layerWMS">
    </mat-form-field>

    <div>
      <button mat-button class="upload-overlay-buttom">Upload image</button>
    </div>
</div>
<div>
    <br>
    <mat-divider class="mat-divisor-overlay"></mat-divider>
    <br>
</div>
<div class="dialog-font">
  <button mat-button class="add-overlay-buttoms" (click)="onAddClick()">ADD</button>
  <button mat-button class="add-overlay-buttoms" (click)="onCancelClick()">CANCEL</button>
</div>


