.search-overlays-div {
    display: inline-flex;
}
.search-icon {
    margin-left: 20px;
    margin-top: 20px;
}
.search-overlays-input {
    width: 100% !important;
    margin-left: 5px;
}
.search-label {
    font-size: 17px !important;
    font-weight: 400 !important;
    color:#232c65 !important;
    font-family: Arial !important;
}
.add-overlays-buttom {
    background-color: rgba(210, 230, 246, 0.3);
    color: #3a9cd6;
    font-size: large;
    margin-left: 100px;
    margin-top: 15px;
}